<!DOCTYPE HTML>
<html>
<head>
	<title>MSTDC</title>
	
    <script src="https://kit.fontawesome.com/e0aec16848.js" crossorigin="anonymous"></script>
</head>

<body background="b9gro-3ndzf.jpg" background-size: "cover">

<section>
<header>
<div class="main">
<div class="logo">
<img src="logo.png.png">
</div>    
<ul>
    
	<li class="active">HOME</li>
	<li><a href="#">DESTINATIONS</a></li>
	<li><a href="#">EVENTS</a></li>
	<li><a href="#">GALLERY</a></li>
    <li>
    
    <div class="dropdown"><i class="fas fa-user-alt"></i>
    <button class="dropbtn">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="log.html">Login</a>
      <a href="sign.html">Sign-up</a>
    </div>
        
    </div>
        
    </li>
</ul>
    
</div>
    
<div class="title">

<h1><span>MAHARASTRA STATE TOURISM</span></h1>
    <h4>OUR PRIDE, YOUR DESTINATION. </h4>
</div>

<div class="button">
<a href="#" class="btn">Explore Places Now</a>
<a href="#" class="btn">learn more on MH</a>

</div>
    </header>
    </section>
    
    <section id="image-set-sec">
		<div class="image-set">
			<div class="image-box">
				<a href=""><img src="Devkund-Waterfall.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>wild</h1></a></div>
				</div>
			</div>
			<div class="image-box">
				<a href=""><img src="karjat-matheran-150038065101-orijgp.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>nature</h1></a></div>
				</div>
			</div>
			<div class="image-box">
				<a href=""><img src="e0.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Architecture</h1></a></div>
				</div>
			</div>
			<div class="image-box">
				<a href=""><img src="ganesh.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>festive</h1></a></div>
				</div>
			</div>
            <div class="image-box">
				<a href=""><img src="Alibaug-Beach.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Fun</h1></a></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="top-attractions">
			<div class="top-attractions-back">
				<div class="top-attractions-content">
					<div class="attractions-topic">
						<h1>Top Attractions</h1>
					</div>
					<div class="vertical-divider1"></div>
					<div class="sinharaja">
						<div class="sinharaja-content">
							<div class="sinharaja-para">
								<p>
									<h2>LONAVALA</h2>
								</p>
                           
								<p>
									Lonavala is a hill station surrounded by green valleys in western India near Mumbai. The Karla Caves and the Bhaja Caves are ancient Buddhist shrines carved out of the rock. They feature massive pillars and intricate relief sculptures. South of the Bhaja Caves sits the imposing Lohagad Fort, with its 4 gates. West of here is Bhushi Dam, where water overflows onto a set of steps during rainy season.
                                    Mumbai, the capital city of Indian state of Maharashtra, is a spectacular paradox of chaos and hope, glamor and squalor, modernity and tradition.Popular hill station close to Pune and Mumbai, Lonavla is the place to be during monsoons. With lots of waterfalls, lakes and hills around, Lonavala is frequented by all sorts of people, especially hikers and trekkers. </p>
                </p>
                <p>
									<a href="">Read more<i class="fas fa-angle-double-right"></i></a>
								</p>
							</div>
							<div class="sinharaja-image">
								<img src="loh-fort.jpeg">
							</div>
						</div>
					</div>
                
					<div class="sri-padaya">
						<div class="sri-padaya-content">
							<div class="sri-padaya-image">
								<img src="../../assets/images/loh-fort.jpeg">
							</div>
							<div class="sri-padaya-para">
								<p>
									<h3>MUMBAI</h3>
								</p>
                          
								<p>
									Mumbai, the capital city of Indian state of Maharashtra, is a spectacular paradox of chaos and hope, glamor and squalor, modernity and tradition. Famously known as the City of Dreams, Mumbai – formerly known as Bombay - is a beautifully blended melting pot of cultures and lifestyles.The city soaks in everything into its fabric, making it its very own. From upcoming actors struggling to make it big on the silver screen; from Bolly superstars to big industrialists to tribes of fisherman and slum dwellers, Mumbai is a city that proudly boasts of stories from different walks of human survival.One of the main centres in the country of art, culture, music, dance and theatre, Mumbai is a dynamic, cosmopolitan city that has been running for years solely on the indomitable spirit of the Mumbaikars.                  
								</p>
			
							</div>
						</div>
					</div>
					<div class="vertical-divider2"></div>
	
        </div>
    </section>
    
    </div>
    
		</div>
	</section>


<section>
		<div class="footer">
			<div class="footer-content">
				<div class="footer-refs-content-1">
					<h5>MAHARASTRA Tourism <b>Board</b></h5>
	                <ul>
	                	<li><a href="">ADDRESS: 4th floor, Apeejay House, 3, Dinshaw Vacha Rd, near K.C College, Churchgate, Mumbai, Maharashtra 400020</a></li>
	                	
                        <li><a href>Phone: 022 2284 5678</a></li>
	            	</ul>
				</div>
                
				<div class="footer-refs-content-2">
                    
					<h5>FEEDBACK <b>FORM</b></h5>
		            <ul>
		                <div class="container">
  
<form>
    <label for="fname">Name:</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Phone:</label>
    <input type="number" id="lname" name="lastname" placeholder="Your phone number name.."><br>

      <label for="email">Email:</label>
    <input type="email" id="fname" name="firstname" placeholder="Your email@domain.com.."><br>

    <label for="subject">Content:</label>
    <textarea id="subject" name="subject" placeholder="Write Your feedback here.." style="height:50px"></textarea>

    <input type="submit" value="Submit">
</form>
  
</div>
		            </ul>
				</div>
                
                
				<div class="footer-refs-content-3">
		                <ul><li><a href="http://www.srilanka.travel"><img src="logo2.jpg" style="width: 250px;"></a></li>
		            </ul>
				</div>
			</div>
			<div class="lower-footer">
				<div class="lower-footer-content">
					<div id="footer-align-left">
						All Rights Reserved. © Zensar Technologies Pvt. Ltd.
					</div>
                    <marquee>VISIT MAHARASTRA FOR RELISHING EXPERIENCE. OUR PRIDE, YOUR DESTINATION.</marquee>
					<div id="footer-align-right">
						<a href=""><i class="fab fa-facebook-square fa-3x"></i></a>
						<a href=""><i class="fab fa-twitter-square fa-3x"></i></a>
						<a href=""><i class="fab fa-google-plus-square fa-3x"></i></a>
						<a href=""><i class="fab fa-youtube-square fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
      
    
</body>
</html>