
   <body background="../../assets/images/b9gro-3ndzf.jpg">


<div class="container-fluid" style="width: fit-content;">

    <img src="../../assets/images/backgroung.jpg" style="height: 500px;width:1000px;">
    <div class="centered">Pilgrimage</div>

</div>
  <br>
  
  <div class="container-fluid bg-3 text-center">
   
   <div class="row">
     <div class="row">
  
       <img src="../../assets/images/imgpilgrimage2khandoba.jpg"
     class="img-responsive" style="height: 400px;width: 500px;" alt="Image">
    
     </div>
  <br>
     <div class="col-xs-6 col-sm-5">
      <p class="text-warning">Jejuri Khandoba Temple is dedicated to Khandoba, who is also known as Mhalsakant or Malhari Martand in the region. Khandoba is the important god worshipped by Dhangar, the oldest tribes in Maharashtra.
         It is believed that Khandoba is a god of Sakamabhakti, the god who fulfills all the desires of his
         Khandoba (IAST: Khaṇḍobā), Martanda Bhairava, Malhari, or Malhar is a Hindu deity worshiped as a manifestation of Shiva mainly in the Deccan plateau of India, especially in the state of Maharuri Khandoba Temple is dedicated to Khandoba, who is also known as Mhalsakant or Malhari Martand in the region. Khandoba is the important god worshipped by Dhangar, the oldest tribes in Maharashtra.
         It is believed that Khandoba is a god of . Freakster
         <button class="button" style="vertical-align:middle"><span>Know more     </span></button>
         </div><br>
  </div>
  </div>
  <br>
    <div class="container-fluid bg-3 text-center">
  
        <div class="row">
            
  
            <div class="col-sm-5" >
              <p class="text-danger">
                  Shri Dagdusheth Halwai was a famous sweet maker in Maharashtra who was originally from Karnataka and had migrated to Maharashtra in the mid-1800s. He was a successful Halwai and a
                   rich businessman. Tragedy struck when he and his wife lost their son to the
                    plague epidemic. The couple was devastated from their loss, and that wa
                    s when they were advised by their Guru Shri Madhavnath Maharaj to build a 
                    temple devoted to Lord Ganesh. The temple was completed in the late 1800s 
                    over 125 years ago from today. People like Shri Tatyasaheb Godse, 
                    Shri Mamasaheb Rasne, Shri Shankarrao Suryavanshi and Shri Kashinath 
                    Rasne who were the founding trustees of the temple had a great role in 
                    making the temple a grand place for celebrations of festivals in Maharashtra.
                    <button class="button" style="vertical-align:middle"><span>Know more     </span></button>

            </div><br>
            <div class="row">
  
                <img src="../../assets/images/imgpilgrimage1.jpg" class="img-responsive" style="height: 400px;width: 500px;" alt="Image">
             </div> 
            <br>
        </div>
       
    </div>
  
    <br>
  
  
    <div class="container-fluid bg-3 text-center">
        <br>
        <div class="row">
          <div class="row">
       
            <img src="../../assets/images/imgpilgrimage4tmpb.jpg"
          class="img-responsive" style="height: 400px;width: 500px;" alt="Image">
          </div>
       
          <div class="col-xs-6 col-sm-5" >
           <p class="text-warning">Bhimashankar temple is one of the twelve Jyotirlinga of Lord Shiva
                situated in dense forest and hilly area of Pune District.
                 It is very famous and pious pligrimage of Hindus and being 
                 visited by pligrim of all over the country.It is very old temple
                  constructed with stone. One has to pass through several stairs
                   to reach the temple however chairs carried by hand by labourers
                   available for old and disabled people on paying charges.Several 
                   hotels are available for food and also lodging facilities are 
                   available all through the way.Besides temple of Lord Shiva, many
                    other temples are there of other Hindu Gods like Goddess durga,Sri 
                    Ram,Sita, Lakshman,Lord hanuman,Lord krishna and Radha,etc.It is
                     worth while visiting the place.
           
<button class="button" style="vertical-align:middle"><span>Know more     </span></button>


            </div><br>
       </div>
       </div>
       <br>
       <div class="container-fluid bg-3 text-center">
  
        <div class="row">
            
  
            <div class="col-sm-5" >
              <p>It was constructed back in the 13th Century during the
                   era of the Pandavas and is surrounded by dense forests.
                    According to sources it was originally a fort which was 
                    called Mangalgadh and Mata Parvati danced for Lord Shiva here
                     when he was besotted by her beauty and took her to marry her 
                     at Mount Kailash.
                     It was constructed back in the 13th Century during the era 
                     of the Pandavas and is surrounded by dense forests.
                      According to sources it was originally a fort which was
                       called Mangalgadh and Mata Parvati danced for Lord Shiva 
                       here when he was besotted by her beauty and took her to 
                       marry her at Mount Kailash.
                       <button class="button" style="vertical-align:middle"><span>Know more     </span></button>


            </div><br>
            <div class="row">
  
                <img src="../../assets/images/imgpilgrimage5.jpg" class="img-responsive" style="height: 400px;width: 500px;" alt="Image">
             </div>
        </div>
    </div>
</body> 

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
